/* body {
    background-color: #55f5c5;
} */

#section1 {
    background-color: #6889e6;
    padding: 10px; /* Ajusta el espaciado interno según sea necesario */
    border-radius: 5px; /* Añade bordes redondeados para un aspecto más atractivo */
    margin-bottom: 20px; /* Agrega un margen inferior para separar del contenido siguiente */
}

#buscar {
    padding: 10px;
    border: 1px solid #8ee719;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s;
    width: 200px;
    margin-bottom: 10px;
}


/* Estilo al pasar el ratón sobre el input de búsqueda */

#buscar:hover {
    border-color: #6c757d;
}


/* Estilo cuando el input de búsqueda está enfocado */

#buscar:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}


/* Estilo para el placeholder del input de búsqueda */

#buscar::placeholder {
    color: #868e96;
}


#status_id {
    padding: 10px;
    border: 1px solid #8ee719;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s;
    width: 220px;
    margin-bottom: 10px;
}


/* Estilo al pasar el ratón sobre el input de búsqueda */

#status_id:hover {
    border-color: #6c757d;
}


/* Estilo cuando el input de búsqueda está enfocado */

#status_id:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}


/* Estilo para el placeholder del input de búsqueda */

#fecha_inc {
    padding: 10px;
    border: 1px solid #8ee719;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s;
    width: 220px;
    margin-bottom: 10px;
}


/* Estilo al pasar el ratón sobre el input de búsqueda */

#fecha_inc:hover {
    border-color: #6c757d;
}


/* Estilo cuando el input de búsqueda está enfocado */

#fecha_inc:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}

/* Estilo al pasar el ratón sobre el input de búsqueda */

#resolta:hover {
    border-color: #6c757d;
}


/* Estilo cuando el input de búsqueda está enfocado */

#resolta:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}


table {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    /* Centra la tabla horizontalmente */
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

th {
    text-align: center;
}

thead th {
    background-color: #6889e6;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.filtros {
    display: flex;
    align-items: center;
    flex-direction: column;
}